@model IEnumerable<BoatProject.Models.BoatDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Boat No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoatImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoatRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRented)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReturned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoatName)
                </td>
                <td>
                    <img src="~/Images/@item.BoatImage" class="rounded-circle" height="50px" width="50px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoatRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsRented)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsReturned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentTime)
                </td>
                <td>
                    @if (!item.IsRented)
                    {
                        <a class="btn btn-sm" asp-action="EditRent" asp-route-id="@item.Id">Rent Boat</a>
                    }
                    @if (item.IsRented && !item.IsReturned)
                    {
                        <a class="btn btn-sm btn-info" asp-action="EditReturn" asp-route-id="@item.Id">Return Boat</a>
                    }
                    @if (!item.IsRented)
                    {
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Remove Boat</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
